@using OtogarSeferTakip.Entities;
@model List<Tako>


<div class="col-4">
    <form asp-action="TakoListPartial" data-ajax="true" data-ajax-method="get" data-ajax-update="#panel">
     
    </form>
</div>



<table id="takoTable" class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Takograf İsmi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tako tako in Model)
        {
            <tr>
                <td>@tako.TakoName</td>

                <td class="text-end">

                    <a asp-action="EditTakoPartial" asp-route-id="@tako.Id" class="btn btn-info btn-sm bg-secondary" data-bs-toggle="modal" data-bs-target="#modalEdit" data-ajax="true" data-ajax-method="get" data-ajax-update="#modalEditContent"><i class="fa fa-edit me-2"></i>

            </a>
                    @*                            <a asp-action="Delete" asp-route-id="@tako.TakoId" onclick="return confirm('@tako.TakoName isimli takografı silmek istediğinize emin misiniz?')" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa fa-trash me-2"></i></a>*@

                </td>
            </tr>
        }
    </tbody>
</table>
