<div class="container-fluid">
    <!-- Üstteki Ana Row -->
    <div class="row">
        <!-- Sol Taraf (4 Kolon) -->
        <div class="col-md-4">
            <div class="row">    <h3 class="text-center">Araç Bilgileri</h3></div>
            <div class="row">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Ara</button>

                </form>
            </div>
            <div class="row">        <input class="form-control" placeholder="Plaka" /></div>
            <div class="row">
                <input class="form-control" placeholder="Plaka" />/div>
                <div class="row">        <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">        <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">        <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">        <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">
                    <button type="button" class="btn btn-secondary">Sıfırla</button>
                    <button type="button" class="btn btn-success">Kaydet</button>
                </div>
            </div>
            <!-- Sağ Taraf (8 Kolon) -->
            <div class="col-md-8">
                <div class="row">    <h3 class="text-center">Sefer Bilgileri</h3></div>
                <div class="row">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Ara</button>

                    </form>
                </div>
                <div class="row">             <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">             <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">             <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">             <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">             <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">             <input class="form-control" placeholder="Plaka" /></div>
                <div class="row">
                    <button type="button" class="btn btn-secondary">Sıfırla</button>
                    <button type="button" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </div>

        <!-- Altındaki Ana Row -->
        <div class="row">
            <!-- 4 Eşit Kolon -->
            <div class="col">
                <div class="row">       <h3 class="text-center">1. Sürücü</h3></div>
                <div class="row">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Ara</button>

                    </form>
                </div>
                <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                <div class="row">
                    <button type="button" class="btn btn-secondary">Sıfırla</button>
                    <button type="button" class="btn btn-success">Kaydet</button>
                </div>
            </div>
            <div class="col">
                <div class="row">       <h3 class="text-center">2. Sürücü</h3></div>
                <div class="row">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Ara</button>

                    </form>
                </div>
                <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                <div class="row">
                    <button type="button" class="btn btn-secondary">Sıfırla</button>
                    <button type="button" class="btn btn-success">Kaydet</button>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h3 class="text-center">3. Sürücü</h3>/div>
                    <div class="row">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Ara</button>

                        </form>
                    </div>
                    <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                    <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                    <div class="row"> <input class="form-control" placeholder="Plaka" />/div></div>
                    <div class="row">
                        <button type="button" class="btn btn-secondary">Sıfırla</button>
                        <button type="button" class="btn btn-success">Kaydet</button>
                    </div>
                </div>
                <div class="col">
                    <div class="row">       <h3 class="text-center">Açıklama</h3></div>
                    <div class="row">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Ara</button>

                        </form>
                    </div>
                    <div class="row">         <input class="form-control" placeholder="Plaka" /></div>
                    <div class="row">
                        <input class="form-control" placeholder="Plaka" />/div>
                        <div class="row">         <input class="form-control" placeholder="Plaka" /></div>
                        <button type="button" class="btn btn-secondary">Sıfırla</button>
                        <button type="button" class="btn btn-success">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
