@model EditUserModel

@{
    ViewData["Title"] = "Personel Düzenle";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>


            <div class="form-group mb-3">
                <label asp-for="Sicil" class="form-label"><i class="fa-solid fa-signature me-2"></i>İsim Soyisim</label>
                <input asp-for="Sicil" class="form-control" placeholder="İsim Soyisim" />
                <span asp-validation-for="Sicil" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FullName" class="form-label"><i class="fa-solid fa-signature me-2"></i>İsim Soyisim</label>
                <input asp-for="FullName" class="form-control" placeholder="İsim Soyisim" />
                <span asp-validation-for="FullName" class="text-danger small"></span>
            </div>


            <div class="form-group mb-3">
                <label asp-for="Role" class="form-label"><i class="fa-solid fa-handcuffs me-2"></i>Yetki</label>

                <select asp-for="Role" class="form-select">

                    <option value="user">User</option>
                    <option value="admin">Admin</option>


                </select>




            </div>

            <label asp-for="District" class="form-label"><i class="fa-solid fa-handcuffs me-2"></i>Birim</label>
            <div class="input-group mb-3">
               
                <div>
                    <select asp-for="District" class="form-select">
                        <option value="Trafik Tescil Şube Müdürlüğü">Trafik Tescil Şube Müdürlüğü</option>
            @*            <option value="Bilgi Teknolojileri ve Haberleşme Şube Müdürlüğü">Bilgi Teknolojileri ve Haberleşme Şube Müdürlüğü</option>
                        <option value="Çocuk Şube Müdürlüğü">Çocuk Şube Müdürlüğü</option>
                        <option value="Adalar">Adalar</option>
                        <option value="Arnavutköy">Arnavutköy</option>
                        <option value="Ataşehir">Ataşehir</option>
                        <option value="Avcılar">Avcılar</option>
                        <option value="Bağcılar">Bağcılar</option>
                        <option value="Bahçelievler">Bahçelievler</option>
                        <option value="Bakırköy">Bakırköy</option>
                        <option value="Başakşehir">Başakşehir</option>
                        <option value="Bayrampaşa">Bayrampaşa</option>
                        <option value="Beşiktaş">Beşiktaş</option>
                        <option value="Beykoz">Beykoz</option>
                        <option value="Beylikdüzü">Beylikdüzü</option>
                        <option value="Beyoğlu">Beyoğlu</option>
                        <option value="Büyükçekmece">Büyükçekmece</option>
                        <option value="Çatalca">Çatalca</option>
                        <option value="Çekmeköy">Çekmeköy</option>
                        <option value="Esenler">Esenler</option>
                        <option value="Esenyurt">Esenyurt</option>
                        <option value="Eyüpsultan">Eyüpsultan</option>
                        <option value="Fatih">Fatih</option>
                        <option value="Gaziosmanpaşa">Gaziosmanpaşa</option>
                        <option value="Güngören">Güngören</option>
                        <option value="Kadıköy">Kadıköy</option>
                        <option value="Kağıthane">Kağıthane</option>
                        <option value="Kartal">Kartal</option>
                        <option value="Küçükçekmece">Küçükçekmece</option>
                        <option value="Maltepe">Maltepe</option>
                        <option value="Pendik">Pendik</option>
                        <option value="Sancaktepe">Sancaktepe</option>
                        <option value="Sarıyer">Sarıyer</option>
                        <option value="Silivri">Silivri</option>
                        <option value="Sultanbeyli">Sultanbeyli</option>
                        <option value="Sultangazi">Sultangazi</option>
                        <option value="Şile">Şile</option>
                        <option value="Şişli">Şişli</option>
                        <option value="Tuzla">Tuzla</option>
                        <option value="Ümraniye">Ümraniye</option>
                        <option value="Üsküdar">Üsküdar</option>
                        <option value="Zeytinburnu">Zeytinburnu</option>*@
                    </select>
                </div>

                <div>  <span asp-validation-for="District" class="text-danger small"></span></div>

            </div>





            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-save me-2"></i>Güncelle</button>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @if (ViewData["result"] != null && ViewData["result"] == "UserEdited")
    {
        <script>
            toastr["success"]("Personel eklendi.", "Başarılı.")
        </script>

    }

    <script>

        @if (!ViewData.ModelState.IsValid)
        {
            foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <text>
                    toastr.error("@Html.Raw(error.ErrorMessage)", "Hata");
                </text>

            }
        }
    </script>

}